.mypy_cache/3.7/_ast.data.json
.mypy_cache/3.7/_ast.meta.json
.mypy_cache/3.7/_importlib_modulespec.data.json
.mypy_cache/3.7/_importlib_modulespec.meta.json
.mypy_cache/3.7/@plugins_snapshot.json
.mypy_cache/3.7/abc.data.json
.mypy_cache/3.7/abc.meta.json
.mypy_cache/3.7/ast.data.json
.mypy_cache/3.7/ast.meta.json
.mypy_cache/3.7/builtins.data.json
.mypy_cache/3.7/builtins.meta.json
.mypy_cache/3.7/codecs.data.json
.mypy_cache/3.7/codecs.meta.json
.mypy_cache/3.7/datetime.data.json
.mypy_cache/3.7/datetime.meta.json
.mypy_cache/3.7/enum.data.json
.mypy_cache/3.7/enum.meta.json
.mypy_cache/3.7/genericpath.data.json
.mypy_cache/3.7/genericpath.meta.json
.mypy_cache/3.7/io.data.json
.mypy_cache/3.7/io.meta.json
.mypy_cache/3.7/mmap.data.json
.mypy_cache/3.7/mmap.meta.json
.mypy_cache/3.7/posix.data.json
.mypy_cache/3.7/posix.meta.json
.mypy_cache/3.7/socket.data.json
.mypy_cache/3.7/socket.meta.json
.mypy_cache/3.7/ssl.data.json
.mypy_cache/3.7/ssl.meta.json
.mypy_cache/3.7/string.data.json
.mypy_cache/3.7/string.meta.json
.mypy_cache/3.7/sys.data.json
.mypy_cache/3.7/sys.meta.json
.mypy_cache/3.7/threading.data.json
.mypy_cache/3.7/threading.meta.json
.mypy_cache/3.7/time.data.json
.mypy_cache/3.7/time.meta.json
.mypy_cache/3.7/types.data.json
.mypy_cache/3.7/types.meta.json
.mypy_cache/3.7/typing_extensions.data.json
.mypy_cache/3.7/typing_extensions.meta.json
.mypy_cache/3.7/typing.data.json
.mypy_cache/3.7/typing.meta.json
.mypy_cache/3.7/we_rate_dogs.data.json
.mypy_cache/3.7/we_rate_dogs.meta.json
.mypy_cache/3.7/collections/__init__.data.json
.mypy_cache/3.7/collections/__init__.meta.json
.mypy_cache/3.7/collections/abc.data.json
.mypy_cache/3.7/collections/abc.meta.json
.mypy_cache/3.7/email/__init__.data.json
.mypy_cache/3.7/email/__init__.meta.json
.mypy_cache/3.7/email/charset.data.json
.mypy_cache/3.7/email/charset.meta.json
.mypy_cache/3.7/email/contentmanager.data.json
.mypy_cache/3.7/email/contentmanager.meta.json
.mypy_cache/3.7/email/errors.data.json
.mypy_cache/3.7/email/errors.meta.json
.mypy_cache/3.7/email/header.data.json
.mypy_cache/3.7/email/header.meta.json
.mypy_cache/3.7/email/message.data.json
.mypy_cache/3.7/email/message.meta.json
.mypy_cache/3.7/email/policy.data.json
.mypy_cache/3.7/email/policy.meta.json
.mypy_cache/3.7/http/__init__.data.json
.mypy_cache/3.7/http/__init__.meta.json
.mypy_cache/3.7/http/client.data.json
.mypy_cache/3.7/http/client.meta.json
.mypy_cache/3.7/http/cookiejar.data.json
.mypy_cache/3.7/http/cookiejar.meta.json
.mypy_cache/3.7/importlib/__init__.data.json
.mypy_cache/3.7/importlib/__init__.meta.json
.mypy_cache/3.7/importlib/abc.data.json
.mypy_cache/3.7/importlib/abc.meta.json
.mypy_cache/3.7/logging/__init__.data.json
.mypy_cache/3.7/logging/__init__.meta.json
.mypy_cache/3.7/os/__init__.data.json
.mypy_cache/3.7/os/__init__.meta.json
.mypy_cache/3.7/os/path.data.json
.mypy_cache/3.7/os/path.meta.json
.mypy_cache/3.7/requests/__init__.data.json
.mypy_cache/3.7/requests/__init__.meta.json
.mypy_cache/3.7/requests/adapters.data.json
.mypy_cache/3.7/requests/adapters.meta.json
.mypy_cache/3.7/requests/api.data.json
.mypy_cache/3.7/requests/api.meta.json
.mypy_cache/3.7/requests/auth.data.json
.mypy_cache/3.7/requests/auth.meta.json
.mypy_cache/3.7/requests/compat.data.json
.mypy_cache/3.7/requests/compat.meta.json
.mypy_cache/3.7/requests/cookies.data.json
.mypy_cache/3.7/requests/cookies.meta.json
.mypy_cache/3.7/requests/exceptions.data.json
.mypy_cache/3.7/requests/exceptions.meta.json
.mypy_cache/3.7/requests/hooks.data.json
.mypy_cache/3.7/requests/hooks.meta.json
.mypy_cache/3.7/requests/models.data.json
.mypy_cache/3.7/requests/models.meta.json
.mypy_cache/3.7/requests/sessions.data.json
.mypy_cache/3.7/requests/sessions.meta.json
.mypy_cache/3.7/requests/status_codes.data.json
.mypy_cache/3.7/requests/status_codes.meta.json
.mypy_cache/3.7/requests/structures.data.json
.mypy_cache/3.7/requests/structures.meta.json
.mypy_cache/3.7/requests/utils.data.json
.mypy_cache/3.7/requests/utils.meta.json
.mypy_cache/3.7/requests/packages/__init__.data.json
.mypy_cache/3.7/requests/packages/__init__.meta.json
.mypy_cache/3.7/requests/packages/urllib3/__init__.data.json
.mypy_cache/3.7/requests/packages/urllib3/__init__.meta.json
.mypy_cache/3.7/requests/packages/urllib3/_collections.data.json
.mypy_cache/3.7/requests/packages/urllib3/_collections.meta.json
.mypy_cache/3.7/requests/packages/urllib3/connection.data.json
.mypy_cache/3.7/requests/packages/urllib3/connection.meta.json
.mypy_cache/3.7/requests/packages/urllib3/connectionpool.data.json
.mypy_cache/3.7/requests/packages/urllib3/connectionpool.meta.json
.mypy_cache/3.7/requests/packages/urllib3/exceptions.data.json
.mypy_cache/3.7/requests/packages/urllib3/exceptions.meta.json
.mypy_cache/3.7/requests/packages/urllib3/fields.data.json
.mypy_cache/3.7/requests/packages/urllib3/fields.meta.json
.mypy_cache/3.7/requests/packages/urllib3/filepost.data.json
.mypy_cache/3.7/requests/packages/urllib3/filepost.meta.json
.mypy_cache/3.7/requests/packages/urllib3/poolmanager.data.json
.mypy_cache/3.7/requests/packages/urllib3/poolmanager.meta.json
.mypy_cache/3.7/requests/packages/urllib3/request.data.json
.mypy_cache/3.7/requests/packages/urllib3/request.meta.json
.mypy_cache/3.7/requests/packages/urllib3/response.data.json
.mypy_cache/3.7/requests/packages/urllib3/response.meta.json
.mypy_cache/3.7/requests/packages/urllib3/packages/__init__.data.json
.mypy_cache/3.7/requests/packages/urllib3/packages/__init__.meta.json
.mypy_cache/3.7/requests/packages/urllib3/packages/ssl_match_hostname/__init__.data.json
.mypy_cache/3.7/requests/packages/urllib3/packages/ssl_match_hostname/__init__.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/__init__.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/__init__.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/connection.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/connection.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/request.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/request.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/response.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/response.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/retry.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/retry.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/ssl_.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/ssl_.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/timeout.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/timeout.meta.json
.mypy_cache/3.7/requests/packages/urllib3/util/url.data.json
.mypy_cache/3.7/requests/packages/urllib3/util/url.meta.json
.mypy_cache/3.7/urllib/__init__.data.json
.mypy_cache/3.7/urllib/__init__.meta.json
.mypy_cache/3.7/urllib/request.data.json
.mypy_cache/3.7/urllib/request.meta.json
.mypy_cache/3.7/urllib/response.data.json
.mypy_cache/3.7/urllib/response.meta.json
.vscode/settings.json
.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/we_rate_dogs-checkpoint.ipynb
.ipynb_checkpoints/wrangle_act_2-checkpoint.ipynb
.ipynb_checkpoints/wrangle_act_3-checkpoint.ipynb
.ipynb_checkpoints/wrangle_act-checkpoint.ipynb
.ipynb_checkpoints/Wrangle_Report-checkpoint.ipynb
twitter-archive-enhanced.csv:Zone.Identifier
twitter-api.rtf:Zone.Identifier
twitter-api.rtf
tweet-json.zip:Zone.Identifier
tweet-json.zip
image-predictions.tsv:Zone.Identifier
image-predictions.tsv
tweet-json copy
we_rate_dogs_proj.zip
